---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

interface Props {
	title: string;
    description: string;
    schema: string;
}

const { title, description, schema } = Astro.props;
const siteName = "Électricien Belge";

const canonicalUrl=Astro.url.pathname
---
<!doctype html>
<html lang="fr-BE">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <link rel="icon" type="image/svg+xml" href="/electrician-belge-favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href=`https://electricien-belge.be${canonicalUrl}`/>
    <title>{title}</title>
    <script type="application/ld+json" set:html={JSON.stringify(schema)} />
</head>
<body class="bg-gray-100 text-gray-800 flex flex-col min-h-screen font-sans">
    <Header />
    <main class="flex-grow">
        <slot />
    </main>
    <Footer />
</body>
</html>